<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<p><h1 align="center">Python Flask Upload and display image</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
    </p>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file-img" class="form-control" autocomplete="off" >
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
    {% for imagelist in imageList %}
    <img src = "{{ url_for('static', filename=imagelist)}}">
    {% endfor %}
</div>
</div>
</body>
</html>